﻿@model System.Data.DataTable

@section Styles {
    @*    This section is defined in _Layout.cshtml as @RenderSection("Styles", required: false) above the <head> tag.*@
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
}

<div style="background-color:whitesmoke">
    <h5><b>@ViewData["Title"]</b></h5> @*ViewData["Title"] is set in the controller*@
</div>

<table class="table table-striped" id="listItems">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Plan#
            </th>
            <th>
                Plan Name
            </th>
            <th>
                Fixed Cost
            </th>
            <th>
                Variable Cost
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.Rows)
        {
            <tr>
                <td>
                    @Html.ActionLink(
                                                                                     " Edit"
                                                                                     , "Edit"
                                                                                     , (string)ViewContext.RouteData.Values["controller"]
                                                                                     , new
                                                                                     {
                                                                                         id = @row["PlanId"]
                                                                                     }
                                                                                     , new
                                                                                     {
                                                                                         Class = "btn btn-link glyphicon glyphicon-pencil"
                                                                                             ,
                                                                                         title = "Edit this record"
                                                                                     }
                                                                                     )
                </td>
                <td>
                    @row["PlanId"]
                </td>
                <td>
                    @row["PlanName"]
                </td>
                <td>
                    @row["PlanFixedCost"]
                </td>
                <td>
                    @row["PlanVarCost"]
                </td>

            </tr>
        }
    </tbody>
</table>

@*------------------------------------------------------No user serviceable code below this line--------------------------------------------------*@

@Html.Partial("_List")


@section Scripts {
    @*    This section is defined in _Layout.cshtml as @RenderSection("Scripts", required: false) above the </body> tag.*@

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#listItems').DataTable();
        });
    </script>

}

