﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    Sorry that you encountered an error. We deeply regret the inconvenience this may
    have caused to you.<br />In order to serve you better, the responsible parties have been notified.
</p>
<p class="lead">
    Please click <a href="~/">here</a> to return to the Dashboard.
</p>
