﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <strong>
        Oops, it seems like you have bookmarked a page which no longer exists on this
        web site!
    </strong>
</p>
<p>
    We revamped this web site to accomodate evolving business requirements more
    efficiently.<br />
    Please email the administrator of this application to learn how to access the feature you
    are trying.
</p>
<p class="lead">
    Please click <a href="~/">here</a> to return to the Dashboard.
</p>