﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    You are not authorized to access this area on the web site.
    <br />
    Please contact the administrator of this app to obtain access.
</p>
<p class="lead">
    Please click <a href="~/">here</a> to return to the Dashboard.
</p>
