﻿@model es2.Models.Customer

@section Styles {
    @*    This section is defined in _Layout.cshtml as @RenderSection("Styles", required: false) above the <head> tag.*@
    <link href="~/Content/jquery-bpopup.css" rel="stylesheet" />
    <style type="text/css">
        .navbar-inverse {
            background-color: whitesmoke;
        }
    </style>

}

<div id="information" class="popupContent" style="display:none">
    <a class="popupClose" href="#">x</a>
    Update and Delete operations are for the purpose of demonstration only.
    <br />
    They do not affect the data.
</div>
<div style="background-color:whitesmoke">
    <h5>
        <b>
            @ViewData["Title"]
            @if (ViewBag.CrudAction != "Create")
            {
                <a href="#" title="Click here for more information" onclick="popupOpen();">
                    <span class="glyphicon glyphicon-info-sign" style="color:blue;" aria-hidden="true"></span>
                </a>
            }
        </b>
</h5> @*ViewData["Title"] is set in the controller*@
</div>

@using (Html.BeginForm((string)ViewBag.CrudAction, (string)ViewContext.RouteData.Values["controller"]))
{

    @Html.AntiForgeryToken() @*This is needed if you are using [ValidateAntiForgeryToken] on Action methods*@

    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
    <div class="container container-fluid">

        <div class="form-group">
            @Html.HiddenFor(m => m.CustID)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustName, htmlAttributes: new { @class = "control-label col-md-2", @dir = "rtl" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustEmail, htmlAttributes: new { @class = "control-label col-md-2", @dir = "rtl" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlanID, htmlAttributes: new { @class = "control-label col-md-2", @dir = "rtl" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.PlanID, new SelectList(ViewBag.Plans, "PlanID", "PlanName"), "Please pick one...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PlanID, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>



    @*------------------------------------------------------No user serviceable code below this line--------------------------------------------------*@

    @Html.Partial("_Edit");

    @section Scripts {
        @*    This section is defined in _Layout.cshtml as @RenderSection("Scripts", required: false) above the </body> tag.*@
        <script src="~/Scripts/jquery.bpopup.min.js"></script>
        <script type="text/javascript">
            function popupOpen() {
                $('#information').bPopup({
                    closeClass: 'popupClose'
                });
            };
        </script>

    }

}