﻿
@section Styles {
    @*    This section is defined in _Layout.cshtml as @RenderSection("Styles", required: false) above the <head> tag.*@
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link href="~/Content/jquery-bpopup.css" rel="stylesheet" />
}

    <div id="information" class="popupContent" style="display:none">
        <a class="popupClose" href="#">x</a>
        This approach reduces the count of CRUD forms per model to 2 from the default of 4.
        <br/><br/>
        Additonally, templated CRUD forms greatly reduce the time it takes to create and service them while delivering a consistent user experience.
    </div>

<div style="background-color:whitesmoke">
    <h5>
        <b>
            @ViewData["Title"]
            <a href="#" title="Click here for more information" onclick="popupOpen();">
                <span class="glyphicon glyphicon-info-sign" style="color:blue;" aria-hidden="true"></span>
            </a>

        </b>
    </h5> @*ViewData["Title"] is set in the controller*@
</div>

<table class="table table-striped" id="listItems">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Customer#
            </th>
            <th>
                Customer Name
            </th>
            <th>
                Email
            </th>
            <th>
                Plan Name
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="5">Loading data...</td>
        </tr>
    </tbody>
</table>

@*------------------------------------------------------No user serviceable code below this line--------------------------------------------------*@

@Html.Partial("_List")


@section Scripts {
    @*    This section is defined in _Layout.cshtml as @RenderSection("Scripts", required: false) above the </body> tag.*@

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.bpopup.min.js"></script>

    <script type="text/javascript">

        function popupOpen() {
            $('#information').bPopup({
                closeClass: 'popupClose'
            });
        };

        $(document).ready(function () {
            $('#listItems').DataTable({
                "proccessing": true,
                "serverSide": true,
                "stateSave": true,
                "ajax": {
                    url: "@Url.Action("PrepList", "Customers")",
                    type: 'POST'
                },
               "columns": [
                   { "data": "EditLink" },
                   { "data": "CustID" },
                   { "data": "CustName" },
                   { "data": "CustEmail" },
                   { "data": "PlanName" }
                ],
                "columnDefs": [
                    { "orderable": false, "targets": 0 } // do not sort col #1 (Edit Link)
                ],
                "order": [[1, "desc"]] // default sort on col #2
            });
        });
    </script>

}

