﻿@*
    This is a partial view for Edit template
*@


<br /><br />
<div class="row">
    <div class="form-group">
        @if (ViewBag.CrudAction != "Create")
        {
            <div class="col-md-2">@*Filler*@</div>

            <button type="submit" value="Update" name="updateType"
                    class="col-md-1 btn btn-info"
                    title="Save changes">
                <span class="glyphicon glyphicon-check"></span> Update
            </button>

            <div class="col-xs-1">@*Filler*@</div>

            <button type="submit" value="Delete" name="updateType"
                    onclick="return confirm('Please select [Ok] to confirm...');"
                    class="col-md-1 btn btn-danger"
                    title="Remove this record">
                <span class="glyphicon glyphicon-remove-sign"></span> Delete
            </button>

        }
        else
        {
            <div class="col-md-2">@*Filler*@</div>

            <button type="submit" value="Add"
                    class="col-md-1 btn btn-info"
                    title="Add this record">
                <span class="glyphicon glyphicon-ok-sign"></span> Add
            </button>

            <div class="col-xs-1">@*Filler*@</div>
        }

    </div>
</div>


<br /><br />
<div id="navlinks">
    <span>
        @Html.ActionLink(
                          " Previous page"
                          , (string)(ViewBag.PreviousAction == null ? "Index" : ViewBag.PreviousAction)
                          , (string)(ViewBag.PreviousController == null ? ViewContext.RouteData.Values["controller"] : ViewBag.PreviousController)
                          , (object)ViewBag.PreviousActionParameters
                          , new
                          {
                              Class = "btn btn-link glyphicon glyphicon-list-alt"
                                      ,
                              title = "Return to previous page"
                          }
                          )
    </span>
</div>

