﻿<!DOCTYPE html>
<html>
@RenderSection("Styles", required: false)
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
          href="~/App_Images/favicon.png" />
    <title>@CommonCode.GetVconfig("ApplicationName")</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbar {
            background-color: rgba(0,0,0,0.35);
            border-bottom: 1px solid red;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: white;
        }

            .navbar-inverse .navbar-nav > li > a:hover {
                color: yellow;
            }

        .thumbnail {
            border: none;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @* @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a class="navbar-brand" href="~/Home/Home"><img src="~/App_Images/logo-small.png" class="img-fluid"></a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Home", "Home")</li>
                    <li>@Html.ActionLink("Administration", "About", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-area="">Anonymous user</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">

        <section id="corporate">
            <div class="container">
                <div class="row">
                    <div class="col" align="center">
                        <img src="~/App_Images/logo.gif" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>

        @RenderBody()
        <hr />
        <footer>
            <p>Demo of templated CRUD forms</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
