﻿@model App.SiteMap

<div class="col-xs-6 col-sm-4 col-md-3">
    <a href="@Url.Action(Model.ActionMethod, Model.ControllerName)">
        <div class="thumbnail" title="@Model.Description">
            <img src="@Model.ImageUrl" alt="@Model.Title">
            <div class="caption" align="center">
                @Model.Title
            </div>
        </div>
    </a>
</div>
