﻿<div style="background-color:whitesmoke">
    <h5><b>@ViewData["Title"]</b></h5> @*ViewData["Title"] is set in the controller*@
</div>

<p>
    You are not authorized to access this area on the web site.
    <br />
    Please contact the administrator of this app to obtain access.
</p>
