﻿@model IEnumerable<App.SiteMap>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color:whitesmoke">
    <h5><b>@ViewData["Title"]</b></h5> @*ViewData["Title"] is set in the controller*@
</div>

<div class="row">
    @foreach (var item in Model)
    {
        @Html.Partial("_SiteMapMenuImage", item)
    }
</div>


    @*------------------------------------------------------No user serviceable code below this line--------------------------------------------------*@

    @Html.Partial("_List")
