﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @*    This section is defined in _Layout.cshtml as @RenderSection("Styles", required: false) above the <head> tag.*@
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link href="~/Content/jquery-bpopup.css" rel="stylesheet" />
}


<div id="information" class="popupContent" style="display:none">
    <a class="popupClose" href="#">x</a>
    This form fetches only the rows displayed thus the payload is the bare minimum possible.
    <br /><br />
    It makes Ajax calls to the backend to update the display in response to the user interaction.
</div>

<div style="background-color:whitesmoke">
    <h5>
        <b>
            @ViewData["Title"]
            <a href="#" title="Click here for more information" onclick="popupOpen();">
                <span class="glyphicon glyphicon-info-sign" style="color:blue;" aria-hidden="true"></span>
            </a>
        </b>
    </h5> @*ViewData["Title"] is set in the controller*@
</div>

<table class="table table-striped" id="listItems">
    <thead>
        <tr>
            <th>
                Customer#
            </th>
            <th>
                Customer Name
            </th>
            <th>
                Email
            </th>
            <th>
                Plan Name
            </th>
            <th>
                Fixed Cost
            </th>
            <th>
                Variable Cost
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="6">Loading data...</td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-2">
        @Html.ActionLink(
                                " Add new plan"
                                , "Add"
                                , "Plans"
                                , null
                                , new
                                {
                                    title = "Add new plan"
                                }
                                )

    </div>
    <div class="col-md-2">
        @Html.ActionLink(
                                 " Add new customer"
                                 , "Add"
                                 , "Customers"
                                 , null
                                 , new
                                 {
                                     title = "Add new customer"
                                 }
                                 )
    </div>

</div>


@*------------------------------------------------------No user serviceable code below this line--------------------------------------------------*@

@Html.Partial("_List")

@section Scripts {
    @*    This section is defined in _Layout.cshtml as @RenderSection("Scripts", required: false) above the </body> tag.*@

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.bpopup.min.js"></script>

    <script type="text/javascript">

            function popupOpen() {
                $('#information').bPopup({
                    speed: 650,
                    transition: 'slideIn',
                    transitionClose: 'slideBack',
                    closeClass: 'popupClose'
                });
            };

        $(document).ready(function () {
            $('#listItems').DataTable({
                "proccessing": true,
                "serverSide": true,
                "stateSave": true,
                "ajax": {
                    url: "@Url.Action("PrepList", "Home")",
                    type: 'POST'
                },
               "columns": [
                   { "data": "CustID" },
                   { "data": "CustName" },
                   { "data": "CustEmail" },
                   { "data": "PlanName" },
                   { "data": "PlanFixedCost" },
                   { "data": "PlanVarCost" }
                ],
                //"columnDefs": [
                //    { "orderable": false, "targets": 0 } // do not sort col #1 (Edit Link)
                //],
                "order": [[0, "desc"]] // default sort on col #1
            });
        });
    </script>

}

